body,div,p {margin:0;padding:0;position:relative}
body {font-family:arial;background-color:#000}
html,body {margin:0;height:100%} 

.button {width:40px;height:40px;border-style:solid;border-color:#f70;border-width:1px;float:left;background-repeat:no-repeat;background-position:center}
.button::before {content:"";position:absolute;height:100%;width:100%;background-color:#f70;transition:all 250ms;opacity:0}
.button:hover::before {opacity:0.5}
.button:active::before {opacity:1}

#box {top:0;bottom:0;left:0;right:0;margin:auto;position:absolute;width:384px;height:384px;border-style:solid;border-width:1px;border-color:#f70;background-color:rgba(0,0,0,0);transition:all 250ms}
#gameBox,#snakeArea,#menu,#setting,#credit,#pauseOverlay {width:100%;height:100%;position:absolute}
/*#menu,*/#setting,#credit,#pauseOverlay,#score,#gameBox {display:none}
#uiBox {top:0;bottom:0;left:0;right:0;margin:auto;position:absolute;width:256px;height:256px;z-index:2}
#snakeArea {z-index:0}
#food {width:24px;height:24px;position:absolute;top:0;left:0;z-index:1;background-color:#F70}

/*menu*/
#title {position:absolute;top:16px;left:18px;width:224px;height:32px;background-image:url(../img/title.svg);background-size:224px}
#buttonsInMenu {position:absolute;bottom:16px;left:0;right:0;width:182px;margin:auto;height:42px}
#playButton {width:80px;background-image:url(../img/play.svg)}
#settingButton {margin-left:8px;background-image:url(../img/setting.svg)}
#creditButton {margin-left:8px;background-image:url(../img/credit.svg)}